@use 'global' as *;
.c-btn-slide {
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 100px;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: #999;
  border: 1px solid #999;
  opacity: 1;
  text-decoration: none;
  position: relative;
  color: #023178;
  border-color: #023178;
}

.c-btn-slide::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  background: rgba(0,0,0,.25);
  position: absolute;
  left: 0;
  top: 0;
  transition: .2s;
}

.c-btn-slide::after {
  content: "ï¼ž";
  font-size: 1.1em;
  position: absolute;
  right: 0.9em;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 0;
  transition: .2s;
}

.c-btn-slide:hover::before {
  width: 100%;
}